.footer-section {
    background-color: #f8f8f8;
    color: #2e2e2e;
    font-family: "Montserrat", sans-serif;
    padding: 120px 60px 60px 60px;
    width: 100%;
}
.footer-container{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.footer-content {
    display: flex;
flex-direction: row;
    gap: 40px;
    padding-bottom: 48px;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    
}

.footer-logo {
    width: 140px;
    margin-bottom: 10px;
}

.footer-tagline {
    font-size: 14px;
    color: var(--primary-color)
}

.footer-links {
    display: flex;
    gap: 70px;
    flex: 2;
   
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: var(--text-color);
}

.footer-link {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: #6b8e23;
}

.footer-social {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}

.social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.social-icons img:hover {
    opacity: 0.7;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding: 48px 0;
    text-align: center;
    font-size: 16px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    font-weight: 600;
}

.copyright-icon {
    width: 24px;
    height: 24px;
}

 @media screen and (max-width: 550px) {
    .footer-content {
        flex-direction: column;
    }
.footer-links{
    flex-direction: column;
        gap: 40px;
}
.footer-section {
    padding: 60px 20px 40px 20px;
}
.footer-bottom{
    font-size: 12px;
    text-align: left;
}

 }