.scroll-banner {
  width: 100%;
  overflow: hidden;
  background-color: #8a9e73;
  white-space: nowrap;
  padding: 4px;
}

.scroll-banner-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
  font-family: "Montserrat";
}

.scroll-banner-content {
  display: flex;
  min-width: max-content;
}

.scroll-banner-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-right: 2rem;
  white-space: nowrap;
  font-weight: 600;
}

.smile-emoji {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
